.sectionYuki{
    .flexContainer{
        // border: 1px solid black;
        width: 100%;
        line-height: 50px;

        .flexItems{
            width: 200px;
            height: 100px;        

            img{
                width: 70px;
                height: 70px;
            } 
        }
        

        
    }  

    // .sinborde{
    //     border: 0px solid ;       
    // }

    
}

